@import "./bs-custom";
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@font-family-sans-serif:'Roboto', sans-serif;



/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
}

.formClassName {
    margin-top:150px;
    padding: 26px;
}
